body {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  font-family: sans-serif;
  background-color: bisque;
}

.messages {
  display: grid;
  grid-template-columns: 80px 1fr;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 1.5em 0.25em rgba(0, 0, 0, 0.1);
}

.messages>section {
  margin-bottom: 1.5rem;
  line-height: 1.5em;
}

.messages p,
.messages ul,
.username {
  margin: 0.5rem 0;
}

.local-time {
  font-size: 0.8em;
  margin-left: 0.5em;
  color: brown;
  font-weight: normal;
}

.avatar {
  position: relative;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: chocolate;
  text-align: center;
  line-height: 60px;
  color: white;
  font-weight: bold;
}

.avatar.is-active:after {
  content: " ";
  height: 14px;
  width: 14px;
  border: solid 3px white;
  border-radius: 50%;
  background-color: rgb(20, 145, 6);
  position: absolute;
  bottom: 0;
  right: 0;
}

.current-user .avatar {
  background-color: chocolate;
}

form {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 6em;
}

form>input {
  padding: 0.5em;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  /* border-radius: 0.5em; */
  border: 1px solid #cccccc;
  border-right: none;
  font-size: 1em;
}

form>button {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  /* border-radius: 0.5em; */
  border: 1px solid #cccccc;
  background-color: white;
  font-size: 1em;
}
